nav.typologies.navbar.navbar-default

.row
  .col-sm-6.col-lg-5
    .documentation
    .dsviewshistory
    .fileinput
  .col-sm-6.col-lg-7
    .requestform
    .message

  .documents.col-lg-6.col-sm-12
