span.name= name
|:&nbsp;
span.value(class=typeof(value))= JSON.stringify(value, null, 2)
span ,
if description || Format
  span.toggle
  ul.details
    span.comment //&nbsp;
    if description
      li
        b.descriptionLabel description :&nbsp;
        = description
    if Format
      li
        b Format :&nbsp;
        = Format
