span.name= Nom
|:&nbsp;
span.value(class=typeof(value))= JSON.stringify(value, null, 2)
span ,
if Description || Format
  span.toggle
  ul.details
    span.comment //&nbsp;
    if Description
      li
        b.descriptionLabel Description :&nbsp;
        = Description
    if Format
      li
        b Format :&nbsp;
        = Format
