span "
span.name= Nom
span "
|:&nbsp;
span.value(class=typeof(value))= JSON.stringify(value)
span.toggle ,

if Attention
  span.caution //&nbsp;
   |= Attention

ul.details
  li
    b Description :&nbsp;
    = Description
  li
    b Format :&nbsp;
    = Format
