h3 Requêtes au datasystem

.defineview
  .method cozysdk.
    b defineView
    |(
  ul
    li
      input#inputdoctype.param(type="text", placeholder="DocType", name="doctype", value="Event")
      span ,
    li
      input#inputname.param(type="text", placeholder="Name", name="name", value="MyRequest")
      span ,
    li
      //- span "
      textarea#inputmap(placeholder="", rows="3")
        | function(doc) {
        |   emit(doc._id);
        | }
      span ");

.queryview
  .method cozysdk.
    b queryView
    |(
  ul
    li
      input#querydoctype.param(type="text", readonly="readonly")
      span ,
    li
      input#queryname.param(type="text", readonly="readonly")
      span ,
    li
      //-span "
      textarea#queryparams(placeholder="", rows="5")
        | {
        |   include_docs: true,
        |   limit: 5,
        | }
      span ");

button.btn.btn-success#inputsend Envoyer →
