h3 Requêtes au datasystem

.defineview
  .method cozy.client.data.
    b defineView
    |(
  ul
    li
      input#inputdoctype.param(type="text", placeholder="DocType", name="doctype", value="Event")
      span ,
    li
      span [
      input#inputfields.param(type="text", placeholder="MyRequest['field1', 'field2', ...]", name="name", value="'_id'")
      span ])

.queryview
  .method .then(function(index) { return&nbsp;cozy.client.data.
    b queryView
    |(
  ul
    li
      span index,
    li
      textarea#queryparams(placeholder="", rows="5")
        | {
        |   "selector": { "_id": { "$gt": null }},
        |   limit: 10,
        | }
      span ); });

button.btn.btn-success#inputsend Envoyer →
