h4.subset
  span.name= Nom

  img(src='img/holders/logo_' + Détenteur.toLowerCase() + '.png', title=Détenteur)
  if synthSetInsertable
    span.iconicstroke-cloud-upload.insert(title='Insérer dans le Cozy')
  if synthSetInDS
    span.iconicstroke-trash-stroke.delete(title='Supprimer du Cozy')
