a.dropdown-toggle(id='dropdown' + groupTitle, href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")= groupTitle


  b.caret

ul.dropdown-menu(aria-labelledby='dropdown' + groupTitle)

//- http://stackoverflow.com/questions/13562658/twitter-bootstrap-multi-column-dropdown