/* General */
@import url(http://weloveiconfonts.com/api/?family=iconicstroke);

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}


html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px; 
  color: #666;
  background-color: white;$
  z-index: 0;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  color: #aaaaaa;
  font-family: "Grand Hotel", cursive;
  font-size: 40px;
  line-height: 41.5px;
  margin: 0;
  text-align: center;
  margin-top: 33px;
 
  margin-top: 50px;
  margin-bottom: 5px;
}

h2, h3 {
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-size: 30px;
  color: #aaaaaa;
  /* line-height: 41.5px;  */
}

h4 {
  
  margin: 0;
  margin-top: 15px;
  margin-bottom: 12px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555;
  font-size: 16px;
  margin: 5px;
  line-height: 22px;
}

.toggle {
  cursor: pointer;  
  padding: 5px;
  font-size: 70%;
}

.compact .toggle:after {
  content: '◢';
}

.expanded .toggle:after {
  content: '▲';
}



/* Typologies */
aside.typologies {
  position: fixed;
  left: 10px;
  width: 250px;
  height: 90%;
  top: 5%;
  border: solid 5px #aaaaaaAA;
  z-index: 1000;
}

.typologies h2 {
  position: absolute;
  background-color: #fdfdfd;
  margin: 0 10px 0 0;
  padding: 25px 0;
  /*! z-index: 10; */
  /*! border-bottom: 10px lineargradient(; */
}


aside .typologies {
  overflow: auto;
  height: calc(100% - 150px);
  margin-right: -3px;
  padding-top: 150px;
  background-color: #fdfdfd;
  
  /*! z-index: 1000; */
}


.typologies h2 .subTitle {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #444;
}

.typologies h3 {
  margin-bottom: 15px;
}

.typologies h4 {
  font-size: 16px;
  margin: 5px;
  line-height: 22px;
  cursor: pointer;
  
  clear: both;
}

.typologies h4 img {
  height: 18px;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.typologies .insert, .typologies .delete {
  float: right;
}
.typologies ul {
  list-style: none;
  padding: 0px;
}

/* Requestform */
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-left: 300px;
  background: #fafafa;
  z-index: 100;
  
}

.requestform {
  font-family: 'monospace';
}

.requestform h2 {
  text-align: left;
}
.requestform ul {
  list-style: none;
  margin: 0px;
}

.requestform li {
  /* width: 50px;*/
  margin-top: 5px;
}

.requestform input, .requestform textarea {
  font-family: 'monospace';
  width: 10em;
  background: none;
  
  font-size: 16px;
  border: none;
  border-left: dotted 1px #999;
  border-bottom: solid 1px #333;
}

.requestform #inputsend {
  position: relative;
  left: 16em;
  bottom: 2em;
}

.requestform .defineview,
.requestform .queryview {
  float: left;
}

/* Historique (dsviews) */
.dsviewshistory {
  width: 200px;
  /*! margin-top: 60px; */
  /* border-left: 2px solid #444; */
  z-index: 110;
  position: fixed;
  right: 0;
  height: 100%;
}


.dsviewshistory h3 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #999;
  margin-bottom: 10px;
  text-align: left;
}

.dsviewslist>ul {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

.dsviewshistory h4 {
  color: #777;
  cursor: pointer;
}

.dsviewshistory .delete {
  padding-left: 5px;
  color: #CA4A4A;
  cursor: pointer;
  font-size: 14px;
}

.dsviewshistory .compact .delete {
  display: none;
}
.dsviewslist .compact ul.history {
  display: none;
}

.dsviewslist ul.history {
  padding-left: 25px;
}


.dsviewslist .history li {
  cursor: pointer;
}

/* Documents */
.documents {
  position: absolute;
  left: 300px;
  top: 300px;
}

.documents #downloaddata {
    position: absolute;
    left: 0px;
    top: 0px;
}

.documents ul.documentslist {
  list-style: none;
  
}

.doctype .fields {
  padding-left: 2em;
}

.doctype .field {
  font-family: "monospace";
}

.doctype .field .name {
  color: black;
}

.doctype .field .value.string {
  color: #409B1C;
}

.doctype .field .value.number {
  color: #3B5BB5;
}



.doctype .field.compact .value {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60em;
    display: inline-block;
    overflow: hidden;
    height: 1em;
    /*! line-height: 1em; */
}

/*
.doctype .field .toggle:after {
  position: relative;
  left: 8px;
  bottom: 1px;  
}*/

.doctype .field.expanded .details {
  
}

.doctype .field.compact .details  {
  display: none;
}


.doctype .field .details {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background: #ddd;
  padding: 5px;
}

.doctype .field ul.details {
  padding-left: 25px;
  margin-bottom: 20px;
}
.doctype .field .details li {
  margin: 5px 0px;
}

/* Message */
.message {
  position: fixed;
  top: 250px;
  padding-left: 300px;
  height: 30px;
  background: #aaa;
  z-index: 1000;
  width: 100%;
}

.message .display {
  font-size: 25px;
  font-weight: bold;
}
