/* General */
@import url("./vendors/bootstrap/bootstrap.min.css");
@import url("./vendors/bootstrap/bootstrap-theme.min.css");

@import url("./vendors/gfonts.css");

@import url("./vendors/weloveiconfonts/iconicstroke.css");

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}


html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666;
  background-color: white;$
  z-index: 0;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  color: #aaaaaa;
  font-family: "Grand Hotel", cursive;
  font-size: 40px;
  line-height: 41.5px;
  margin: 0;
  text-align: center;
  margin-top: 33px;

  margin-top: 50px;
  margin-bottom: 5px;
}

h2 {
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-size: 30px;
  color: #aaaaaa;
  /* line-height: 41.5px;  */
}

h3 {
  /*text-align: center;*/
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  /*font-size: 30px;*/
  /*color: #aaaaaa;*/

}

h4 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 12px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555;
  font-size: 16px;
  margin: 5px;
  line-height: 22px;
}

.toggle {
  cursor: pointer;
  padding: 5px;
  font-size: 70%;
}

.compact .toggle:after {
  content: '◢';
}

.expanded .toggle:after {
  content: '▲';
}

[role=application], body {
  display: block;
}

/* Typologies */
.navbar-brand {
  padding: 0 15px;
}

.typologies .dropdown-toggle {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.typologies li.subset {
  white-space: nowrap;
  padding: 5px;
  cursor: pointer;
}
.typologies li.subset .imgcontainer {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.typologies li.subset img {
  height: 18px;
  margin-right: 5px;
  /*! margin-top: 2px; */
}

/* Documentaiton */

.documentation .title {
  margin-top: 15px;
  margin-bottom: 15px;

}
.documentation .typologie {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.documentation h2.subset {
  display: inline;
  margin-left: 10px;
}

.documentation button {
  float: right;
  margin: 5px;
}

.documentation .subset ul {
  list-style: none;
  padding-left: 0px;
}

.documentation .doctype ul {
  padding-left: 20px;
}


/* Requestform */
.requestform ul {
  list-style: none;
  margin: 0px;
}

.requestform li {
  /* width: 50px;*/
  margin-top: 5px;
}

.requestform .method {
  font-family: 'monospace';
}

.requestform input, .requestform textarea {
  font-family: 'monospace';
  width: 20em;
  background: none;

  font-size: 16px;
  border: none;
  border-left: dotted 1px #999;
  border-bottom: solid 1px #333;
}

.requestform textarea {
  overflow: hidden;
}

.requestform #inputsend {
  /*! float: right; */
  margin-bottom: 15px;
}

.requestform .defineview,
.requestform .queryview {
  margin: 20px 0;
}

/* Historique (dsviews) */

.dsviewslist>ul {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

.dsviewshistory h4 {
  color: #777;
  cursor: pointer;
}

.dsviewshistory .delete {
  padding-left: 5px;
  color: #CA4A4A;
  cursor: pointer;
  font-size: 14px;
}

.dsviewshistory .compact .delete {
  display: none;
}
.dsviewslist .compact ul.history {
  display: none;
}

.dsviewslist ul.history {
  padding-left: 25px;
}


.dsviewslist .history li {
  cursor: pointer;
}

/* Documents */
.documentation {
 /*margin-left: 300px;
 margin-top: 300px;*/
}

.documents #downloaddata {
  float: right;

}

.documents ul.documentslist {
  list-style: none;
  padding: 0px;
}
.result {
  list-style: none;
  /*! padding-left: 1em; */
  color: #999;
}

ul.result {
  padding-left: 0.5em;
}

.doctype .fields {
  padding-left: 0.5em;
}

.doctype .field {
  font-family: "monospace";
  width: 100%;
  padding-right: 2em;
  overflow-x: hidden;
  min-height: 1.2em;
}

.doctype .field.compact {
  white-space: nowrap;
}

.doctype .field .toggle {
  position: absolute;
  right: 0px;
}

.doctype .field .name {
  color: black;
}

.doctype .field .value.string {
  color: #409B1C;
}

.doctype .field .value.number {
  color: #3B5BB5;
}

.doctype .field .value.boolean {
  color: #3B5BB5;
}

.doctype .field .value.object {
  color: #444;
}

.doctype .field.expanded .value.object {
  white-space: pre;
}

.doctype .field.compact .value {
    /* text-overflow: ellipsis;
    max-width: 70%;
    display: inline-block;
    overflow: hidden; */
    height: 1.1em;
    white-space: nowrap;
  /*! line-height: 1em; */
}

/*
.doctype .field .toggle:after {
  position: relative;
  left: 8px;
  bottom: 1px;
}*/

.doctype .field.expanded .details {}

.doctype .field.compact ul.details {
  padding-left: 1em;
  display: inline;
  height: 1.1em;
  white-space: nowrap;
  overflow: hidden;
}

.doctype .field.compact .details li  {
  display: inline;
  margin-left: 5px;
}

.doctype .field.compact .details .descriptionLabel  {
  display: none;
}


.doctype .field.expanded .details {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  background: #ddd;
  padding: 5px;
}

.doctype .field.expanded ul.details {
  padding-left: 25px;
  margin-bottom: 20px;
}
.doctype .field.expanded .details li {
  margin: 5px 0px;
}

.doctype .field.expanded .details .comment {
  display: none;
}

/* Message */
.message {
  padding: 5px;
  background: #000;
  color: green;
  z-index: 1000;
  width: 100%;
  font-family: 'monospace';
  margin: 15px 0;
}

.message ul {
  list-style-type: '$ ';
  padding-left: 20px;
}
.message .display {
  font-size: 15px;
  /*! font-weight: bold; */
}

.message .close {
  margin-left: 20px;

}